@model PhinaMart.ViewModels.ProductDetailAndCommentViewModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start of Breadcrumb -->
<nav class="breadcrumb-nav container">
    <ul class="breadcrumb bb-no">
        <li><a href="demo1.html">Home</a></li>
        <li>Products</li>
    </ul>
    <ul class="product-nav list-style-none">
        <li class="product-nav-prev">
            <a href="#">
                <i class="w-icon-angle-left"></i>
            </a>
            <span class="product-nav-popup">
                <img src="~/Frontend/assets/images/products/product-nav-prev.jpg" alt="Product" width="110"
                     height="110" />
                <span class="product-name">Soft Sound Maker</span>
            </span>
        </li>
        <li class="product-nav-next">
            <a href="#">
                <i class="w-icon-angle-right"></i>
            </a>
            <span class="product-nav-popup">
                <img src="~/Frontend/assets/images/products/product-nav-next.jpg" alt="Product" width="110"
                     height="110" />
                <span class="product-name">Fabulous Sound Speaker</span>
            </span>
        </li>
    </ul>
</nav>
<!-- End of Breadcrumb -->
<!-- Start of Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row gutter-lg">
            <div class="main-content">
                <div class="product product-single row">
                    <div class="col-md-6 mb-4 mb-md-8">
                        <div class="product-gallery product-gallery-sticky">
                            <div class="swiper-container product-single-swiper swiper-theme nav-inner" data-swiper-options="{
                                            'navigation': {
                                                'nextEl': '.swiper-button-next',
                                                'prevEl': '.swiper-button-prev'
                                            }
                                        }">
                                <div class="swiper-wrapper row cols-1 gutter-no">

                                    <div class="swiper-slide">
                                        <figure class="product-image">
                                            <img src="~/media/products/@Model.ProductDetail.Image"
                                                 data-zoom-image="~/media/products/@Model.ProductDetail.Image"
                                                 alt="Fashion Table Sound Marker" width="800" height="900">
                                        </figure>
                                    </div>
                                    <div class="swiper-slide">
                                        <figure class="product-image">
                                            <img src="~/Frontend/assets/images/products/swatch/2-800x900.jpg"
                                                 data-zoom-image="~/Frontend/assets/images/products/swatch/2-800x900.jpg"
                                                 alt="Fashion Table Sound Marker" width="488" height="549">
                                        </figure>
                                    </div>
                                    <div class="swiper-slide">
                                        <figure class="product-image">
                                            <img src="~/Frontend/assets/images/products/swatch/3-800x900.jpg"
                                                 data-zoom-image="~/Frontend/assets/images/products/swatch/3-800x900.jpg"
                                                 alt="Fashion Table Sound Marker" width="800" height="900">
                                        </figure>
                                    </div>
                                    <div class="swiper-slide">
                                        <figure class="product-image">
                                            <img src="~/Frontend/assets/images/products/swatch/4-800x900.jpg"
                                                 data-zoom-image="~/Frontend/assets/images/products/swatch/4-800x900.jpg"
                                                 alt="Fashion Table Sound Marker" width="800" height="900">
                                        </figure>
                                    </div>
                                    <div class="swiper-slide">
                                        <figure class="product-image">
                                            <img src="~/Frontend/assets/images/products/swatch/4-800x900.jpg"
                                                 data-zoom-image="~/Frontend/assets/images/products/swatch/4-800x900.jpg"
                                                 alt="Fashion Table Sound Marker" width="800" height="900">
                                        </figure>
                                    </div>

                                </div>
                                <button class="swiper-button-next"></button>
                                <button class="swiper-button-prev"></button>
                                <a href="#" class="product-gallery-btn product-image-full"><i class="w-icon-zoom"></i></a>
                            </div>
                            <div class="product-thumbs-wrap swiper-container" data-swiper-options="{
                                            'navigation': {
                                                'nextEl': '.swiper-button-next',
                                                'prevEl': '.swiper-button-prev'
                                            }
                                        }">
                                <div class="product-thumbs swiper-wrapper row cols-4 gutter-sm">

                                    <div class="product-thumb swiper-slide">
                                        <img src="~/media/products/@Model.ProductDetail.Image"
                                             alt="Product Thumb" width="800" height="900">
                                    </div>
                                    <div class="product-thumb swiper-slide">
                                        <img src="~/Frontend/assets/images/products/swatch/2-800x900.jpg"
                                             alt="Product Thumb" width="800" height="900">
                                    </div>
                                    <div class="product-thumb swiper-slide">
                                        <img src="~/Frontend/assets/images/products/swatch/3-800x900.jpg"
                                             alt="Product Thumb" width="800" height="900">
                                    </div>
                                    <div class="product-thumb swiper-slide">
                                        <img src="~/Frontend/assets/images/products/swatch/4-800x900.jpg"
                                             alt="Product Thumb" width="800" height="900">
                                    </div>
                                    <div class="product-thumb swiper-slide">
                                        <img src="~/Frontend/assets/images/products/swatch/5-800x900.jpg"
                                             alt="Product Thumb" width="800" height="900">
                                    </div>

                                </div>
                                <button class="swiper-button-next"></button>
                                <button class="swiper-button-prev"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-6 mb-md-8">
                        <div class="product-details" data-sticky-options="{'minWidth': 767}">
                            <h1 class="product-title">@Model.ProductDetail.Name</h1>
                            <div class="product-bm-wrapper">
                                <figure class="brand">
                                    <img src="~/Frontend/assets/images/products/brand/brand-6.jpg" alt="Brand"
                                         width="85" height="48" />
                                </figure>
                                <div class="product-meta">
                                    <div class="product-categories">
                                        Category:
                                        <span class="product-category"><a href="#">@Model.ProductDetail.NameCategory</a></span>
                                    </div>
                                    <div class="product-sku">
                                        SKU: @Model.ProductDetail.Id
                                    </div>
                                </div>
                            </div>

                            <hr class="product-divider">

                            <div class="product-price">$@Model.ProductDetail.Price</div>

                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: @ViewBag.AverageRating%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                            </div>

                            <div class="product-short-desc">
                                <ul class="list-type-check list-style-none">
                                    @* Mo ta ngan *@
                                    <li>@Model.ProductDetail.DescriptionShort</li>
                                </ul>
                            </div>

                            <hr class="product-divider">

                            <div class="product-form product-variation-form product-image-swatch">
                                <label>Color:</label>
                                <div class="d-flex align-items-center product-variations">
                                    @* for Images product *@
                                    <a href="#" class="image">
                                        <img src="~/media/products/@Model.ProductDetail.Image"
                                             alt="Product Swatch" width="24" height="24" />
                                    </a>


                                </div>
                            </div>
                            <div class="product-form product-variation-form product-size-swatch">
                                <label class="mb-1">Size:</label>
                                <div class="flex-wrap d-flex align-items-center product-variations">
                                    <a href="#" class="size">Small</a>
                                    <a href="#" class="size">Medium</a>
                                    <a href="#" class="size">Large</a>
                                    <a href="#" class="size">Extra Large</a>
                                </div>
                                <a href="#" class="product-variation-clean">Clean All</a>
                            </div>

                            <div class="product-variation-price">
                                <span></span>
                            </div>

                            <div class="fix-bottom product-sticky-content sticky-content">
                                <div class="product-form container">
                                    @*  From add to cart *@
                                    <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.ProductDetail.Id">
                                        <div class="product-qty-form">
                                            <div class="input-group">
                                                <input class="quantity form-control" type="number" name="quantity" value="1" min="1" max="20" id="quantity-input">
                                                <button type="button" class="quantity-plus w-icon-plus"></button>
                                                <button type="button" class="quantity-minus w-icon-minus"></button>
                                            </div>
                                            

                                        </div>
                                        <div id="alert-message" style="color: red; display: none;">Số lượng không được vượt quá 20</div>
                                        <button class="btn btn-primary" id="add-to-cart-btn"
                                        @(Model.ProductDetail.Quantity == 0 ? "disabled" : "") style="@(Model.ProductDetail.Quantity == 0 ? "background-color: grey;" : "")">
                                            @* btn-cart *@
                                            <i class="w-icon-cart"></i>
                                            <span>Add to Cart</span>
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="social-links-wrapper">
                                <div class="social-links">
                                    <div class="social-icons social-no-color border-thin">
                                        <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                        <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                        <a href="#"
                                           class="social-icon social-pinterest fab fa-pinterest-p"></a>
                                        <a href="#" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                                        <a href="#"
                                           class="social-icon social-youtube fab fa-linkedin-in"></a>
                                    </div>
                                </div>
                                <span class="divider d-xs-show"></span>
                                
                                <div class="product-link-wrapper d-flex">
                                    <form asp-action="AddToWishList" asp-controller="WishList" asp-route-id="@Model.ProductDetail.Id" method="post">
                                        <button type="submit" style="font-size:26px;color:black;margin-top:3px;border:none;background-color:transparent"
                                           class=" w-icon-heart" ><span></span></button>
                                    </form>
                                    
                                    <form asp-action="CreateCompare" asp-controller="Product" asp-route-id="@Model.ProductDetail.Id" method="post">
                                            <button type="submit" 
                                     style="font-size:26px;color:black;margin-top:3px;border:none;background-color:transparent"
                                       class="btn-icon-left w-icon-compare"><span></span></button>
                                       </form>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab tab-nav-boxed tab-nav-underline product-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#product-tab-description" class="nav-link active">Description</a>
                        </li>

                        <li class="nav-item">
                            <a href="#product-tab-reviews" class="nav-link">Customer Reviews (3)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="product-tab-description">
                            <div class="row mb-4">
                                <div class="col-md-6 mb-5">
                                    <h4 class="title tab-pane-title font-weight-bold mb-2">Detail</h4>
                                    @*  chi tiet *@
                                    <p class="mb-4">@Model.ProductDetail.Description</p>

                                </div>
                                <div class="col-md-6 mb-5">
                                    <div class="banner banner-video product-video br-xs">
                                        <figure class="banner-media">
                                            <a href="#">
                                                <img src="~/Frontend/assets/images/products/video-banner-610x300.jpg"
                                                     alt="banner" width="610" height="300"
                                                     style="background-color: #bebebe;">
                                            </a>
                                            <a class="btn-play-video btn-iframe"
                                               href="~/Frontend/assets/video/memory-of-a-woman.mp4"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="row cols-md-3">
                                <div class="mb-3">
                                    <h5 class="sub-title font-weight-bold">
                                        <span class="mr-3">1.</span>Free
                                        Shipping &amp; Return
                                    </h5>
                                    <p class="detail pl-5">
                                        We offer free shipping for products on orders
                                        above 50$ and offer free delivery for all orders in US.
                                    </p>
                                </div>
                                <div class="mb-3">
                                    <h5 class="sub-title font-weight-bold">
                                        <span>2.</span>Free and Easy
                                        Returns
                                    </h5>
                                    <p class="detail pl-5">
                                        We guarantee our products and you could get back
                                        all of your money anytime you want in 30 days.
                                    </p>
                                </div>
                                <div class="mb-3">
                                    <h5 class="sub-title font-weight-bold">
                                        <span>3.</span>Special Financing
                                    </h5>
                                    <p class="detail pl-5">
                                        Get 20%-50% off items over 50$ for a month or
                                        over 250$ for a year with our special credit card.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="product-tab-reviews">
                            <div class="row mb-4">
                                <div class="col-xl-4 col-lg-5 mb-4">
                                    <div class="ratings-wrapper">
                                        <div class="avg-rating-container">
                                            <h4 class="avg-mark font-weight-bolder ls-50">@Model.DisplayRating.AverageStars.ToString("F1")</h4>
                                            <div class="avg-rating">
                                                <p class="text-dark mb-1"></p>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: @Model.DisplayRating.AverageRating.ToString("F1")%;"></span>

                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <a href="#" class="rating-reviews">(@Model.DisplayRating.TotalRatings Reviews)</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ratings-value d-flex align-items-center text-dark ls-25">
                                            <span class="text-dark font-weight-bold">@Model.DisplayRating.AverageRating.ToString("F1") %</span>Recommended<span class="count">(2 of 3)</span>
                                        </div>
                                        <div class="ratings-list">
                                            @for (int i = 5; i >= 1; i--)
                                            {
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: @(i * 20)%"></span>
                                                        <span class="tooltiptext tooltip-top">@i stars</span>
                                                    </div>
                                                    <div class="progress-bar progress-bar-sm">
                                                        <span style="width: @Model.DisplayRating.StarPercentages[i - 1]%"></span>
                                                    </div>
                                                    <div class="progress-value">
                                                        <mark>@Model.DisplayRating.StarPercentages[i - 1].ToString("F1")%</mark>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-7 mb-4">
                                    <div class="review-form-wrapper">
                                        <h3 class="title tab-pane-title font-weight-bold mb-1">Submit Your Review</h3>
                                        <p class="mb-3">Your email address will not be published. Required fields are marked *</p>

                                        @* form danh gia *@
                                        <form asp-action="CreateComment" class="review-form" asp-controller="Product" asp-route-id="@Model.ProductDetail.Id" method="post">
                                            <div class="rating-form">
                                                
                                                <label for="rating">Your Rating Of This Product :</label>
                                                <span class="rating-stars">
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        <a class="star-@i" href="#" onclick="event.preventDefault(); document.getElementById('rating').value = '@i'; updateStars(@i);">@i</a>

                                                    }
                                                </span>
                                                <select id="rating" name="CreateRating.Score" style="display: none;">
                                                    <option value="">Rate…</option>
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </div>
                                            <textarea cols="30" rows="6"
                                                      placeholder="Write Your Review Here..." class="form-control" name="Comment_Text" asp-for="@Model.NewComment.Comment_Text"
                                                      id="review"></textarea>

                                            <div class="form-group">
                                                <input type="checkbox" class="custom-checkbox"
                                                       id="save-checkbox">
                                                <label for="save-checkbox">
                                                    Save my name, email, and website
                                                    in this browser for the next time I comment.
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-dark">
                                                Submit
                                                Review
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>

                            <div class="tab tab-nav-boxed tab-nav-outline tab-nav-center">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a href="#show-all" class="nav-link active">Show All</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#helpful-positive" class="nav-link">
                                            Most Helpful
                                            Positive
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#helpful-negative" class="nav-link">
                                            Most Helpful
                                            Negative
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#highest-rating" class="nav-link">Highest Rating</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#lowest-rating" class="nav-link">Lowest Rating</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="show-all">
                                        <ul class="comments list-style-none">
                                           
                                                @foreach(var comment in ViewBag.Comments)
                                                {
                                                    <li class="comment">
                                                        <div class="comment-body">
                                                            <figure class="comment-avatar">
                                                                <img src="~/Frontend/assets/images/agents/1-100x100.png"
                                                                     alt="Commenter Avatar" width="90" height="90">
                                                            </figure>
                                                            <div class="comment-content">
                                                                <h4 class="comment-author">
                                                                    <a href="#">@comment.User</a>
                                                                    <span class="comment-date">
                                                                    @comment.CreateDate.ToString("MMMM dd, yyyy 'at' h:mm tt")
                                                                    </span>
                                                                </h4>
                                                                <div class="ratings-container comment-rating">
                                                                    <div class="ratings-full">
                                                                        <span class="ratings"
                                                                          style="width:  @comment.PersonalRating%;"></span>
                                                                        <span class="tooltiptext tooltip-top"></span>
                                                                    </div>
                                                                </div>
                                                                <p>
                                                                @comment.ContenText
                                                              
                                                                </p>
                                                                <div class="comment-action">
                                                                    <a href="#"
                                                                       class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                        <i class="far fa-thumbs-up"></i>Helpful (1)
                                                                    </a>
                                                                    <a href="#"
                                                                       class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                        <i class="far fa-thumbs-down"></i>Unhelpful
                                                                        (0)
                                                                    </a>
                                                                    <div class="review-image">
                                                                        <a href="#">
                                                                            <figure>
                                                                                <img src="~/Frontend/assets/images/products/default/review-img-1.jpg"
                                                                                     width="60" height="60"
                                                                                     alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                                     data-zoom-image="~/Frontend/assets/images/products/default/review-img-1-800x900.jpg" />
                                                                            </figure>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                                
                                            

                                           



                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="helpful-positive">
                                        <ul class="comments list-style-none">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <figure class="comment-avatar">
                                                        <img src="~/Frontend/assets/images/agents/1-100x100.png"
                                                             alt="Commenter Avatar" width="90" height="90">
                                                    </figure>
                                                    <div class="comment-content">
                                                        <h4 class="comment-author">
                                                            <a href="#">John Doe</a>
                                                            <span class="comment-date">
                                                                March 22, 2021 at
                                                                1:54 pm
                                                            </span>
                                                        </h4>
                                                        <div class="ratings-container comment-rating">
                                                            <div class="ratings-full">
                                                                <span class="ratings"
                                                                      style="width: 60%;"></span>
                                                                <span class="tooltiptext tooltip-top"></span>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            pellentesque habitant morbi tristique senectus
                                                            et. In dictum non consectetur a erat.
                                                            Nunc ultrices eros in cursus turpis massa
                                                            tincidunt ante in nibh mauris cursus mattis.
                                                            Cras ornare arcu dui vivamus arcu felis bibendum
                                                            ut tristique.
                                                        </p>
                                                        <div class="comment-action">
                                                            <a href="#"
                                                               class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-up"></i>Helpful (1)
                                                            </a>
                                                            <a href="#"
                                                               class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-down"></i>Unhelpful
                                                                (0)
                                                            </a>
                                                            <div class="review-image">
                                                                <a href="#">
                                                                    <figure>
                                                                        <img src="~/Frontend/assets/images/products/default/review-img-1.jpg"
                                                                             width="60" height="60"
                                                                             alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                             data-zoom-image="~/Frontend/assets/images/products/default/review-img-1.jpg" />
                                                                    </figure>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <figure class="comment-avatar">
                                                        <img src="~/Frontend/assets/images/agents/2-100x100.png"
                                                             alt="Commenter Avatar" width="90" height="90">
                                                    </figure>
                                                    <div class="comment-content">
                                                        <h4 class="comment-author">
                                                            <a href="#">John Doe</a>
                                                            <span class="comment-date">
                                                                March 22, 2021 at
                                                                1:52 pm
                                                            </span>
                                                        </h4>
                                                        <div class="ratings-container comment-rating">
                                                            <div class="ratings-full">
                                                                <span class="ratings"
                                                                      style="width: 80%;"></span>
                                                                <span class="tooltiptext tooltip-top"></span>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            Nullam a magna porttitor, dictum risus nec,
                                                            faucibus sapien.
                                                            Ultrices eros in cursus turpis massa tincidunt
                                                            ante in nibh mauris cursus mattis.
                                                            Cras ornare arcu dui vivamus arcu felis bibendum
                                                            ut tristique.
                                                        </p>
                                                        <div class="comment-action">
                                                            <a href="#"
                                                               class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-up"></i>Helpful (1)
                                                            </a>
                                                            <a href="#"
                                                               class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-down"></i>Unhelpful
                                                                (0)
                                                            </a>
                                                            <div class="review-image">
                                                                <a href="#">
                                                                    <figure>
                                                                        <img src="~/Frontend/assets/images/products/default/review-img-2.jpg"
                                                                             width="60" height="60"
                                                                             alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                             data-zoom-image="~/Frontend/assets/images/products/default/review-img-2-800x900.jpg" />
                                                                    </figure>
                                                                </a>
                                                                <a href="#">
                                                                    <figure>
                                                                        <img src="~/Frontend/assets/images/products/default/review-img-3.jpg"
                                                                             width="60" height="60"
                                                                             alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                             data-zoom-image="~/Frontend/assets/images/products/default/review-img-3-800x900.jpg" />
                                                                    </figure>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="helpful-negative">
                                        <ul class="comments list-style-none">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <figure class="comment-avatar">
                                                        <img src="~/Frontend/assets/images/agents/3-100x100.png"
                                                             alt="Commenter Avatar" width="90" height="90">
                                                    </figure>
                                                    <div class="comment-content">
                                                        <h4 class="comment-author">
                                                            <a href="#">John Doe</a>
                                                            <span class="comment-date">
                                                                March 22, 2021 at
                                                                1:21 pm
                                                            </span>
                                                        </h4>
                                                        <div class="ratings-container comment-rating">
                                                            <div class="ratings-full">
                                                                <span class="ratings"
                                                                      style="width: 60%;"></span>
                                                                <span class="tooltiptext tooltip-top"></span>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            In fermentum et sollicitudin ac orci phasellus. A
                                                            condimentum vitae
                                                            sapien pellentesque habitant morbi tristique
                                                            senectus et. In dictum
                                                            non consectetur a erat. Nunc scelerisque viverra
                                                            mauris in aliquam sem fringilla.
                                                        </p>
                                                        <div class="comment-action">
                                                            <a href="#"
                                                               class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-up"></i>Helpful (0)
                                                            </a>
                                                            <a href="#"
                                                               class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-down"></i>Unhelpful
                                                                (1)
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="highest-rating">
                                        <ul class="comments list-style-none">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <figure class="comment-avatar">
                                                        <img src="~/Frontend/assets/images/agents/2-100x100.png"
                                                             alt="Commenter Avatar" width="90" height="90">
                                                    </figure>
                                                    <div class="comment-content">
                                                        <h4 class="comment-author">
                                                            <a href="#">John Doe</a>
                                                            <span class="comment-date">
                                                                March 22, 2021 at
                                                                1:52 pm
                                                            </span>
                                                        </h4>
                                                        <div class="ratings-container comment-rating">
                                                            <div class="ratings-full">
                                                                <span class="ratings"
                                                                      style="width: 80%;"></span>
                                                                <span class="tooltiptext tooltip-top"></span>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            Nullam a magna porttitor, dictum risus nec,
                                                            faucibus sapien.
                                                            Ultrices eros in cursus turpis massa tincidunt
                                                            ante in nibh mauris cursus mattis.
                                                            Cras ornare arcu dui vivamus arcu felis bibendum
                                                            ut tristique.
                                                        </p>
                                                        <div class="comment-action">
                                                            <a href="#"
                                                               class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-up"></i>Helpful (1)
                                                            </a>
                                                            <a href="#"
                                                               class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-down"></i>Unhelpful
                                                                (0)
                                                            </a>
                                                            <div class="review-image">
                                                                <a href="#">
                                                                    <figure>
                                                                        <img src="~/Frontend/assets/images/products/default/review-img-2.jpg"
                                                                             width="60" height="60"
                                                                             alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                             data-zoom-image="~/Frontend/assets/images/products/default/review-img-2-800x900.jpg" />
                                                                    </figure>
                                                                </a>
                                                                <a href="#">
                                                                    <figure>
                                                                        <img src="~/Frontend/assets/images/products/default/review-img-3.jpg"
                                                                             width="60" height="60"
                                                                             alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                             data-zoom-image="~/Frontend/assets/images/products/default/review-img-3-800x900.jpg" />
                                                                    </figure>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="lowest-rating">
                                        <ul class="comments list-style-none">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <figure class="comment-avatar">
                                                        <img src="~/Frontend/assets/images/agents/1-100x100.png"
                                                             alt="Commenter Avatar" width="90" height="90">
                                                    </figure>
                                                    <div class="comment-content">
                                                        <h4 class="comment-author">
                                                            <a href="#">John Doe</a>
                                                            <span class="comment-date">
                                                                March 22, 2021 at
                                                                1:54 pm
                                                            </span>
                                                        </h4>
                                                        <div class="ratings-container comment-rating">
                                                            <div class="ratings-full">
                                                                <span class="ratings"
                                                                      style="width: 60%;"></span>
                                                                <span class="tooltiptext tooltip-top"></span>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            pellentesque habitant morbi tristique senectus
                                                            et. In dictum non consectetur a erat.
                                                            Nunc ultrices eros in cursus turpis massa
                                                            tincidunt ante in nibh mauris cursus mattis.
                                                            Cras ornare arcu dui vivamus arcu felis bibendum
                                                            ut tristique.
                                                        </p>
                                                        <div class="comment-action">
                                                            <a href="#"
                                                               class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-up"></i>Helpful (1)
                                                            </a>
                                                            <a href="#"
                                                               class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-down"></i>Unhelpful
                                                                (0)
                                                            </a>
                                                            <div class="review-image">
                                                                <a href="#">
                                                                    <figure>
                                                                        <img src="~/Frontend/assets/images/products/default/review-img-3.jpg"
                                                                             width="60" height="60"
                                                                             alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                                                             data-zoom-image="~/Frontend/assets/images/products/default/review-img-3-800x900.jpg" />
                                                                    </figure>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <section class="vendor-product-section">
                    <div class="title-link-wrapper mb-4">
                        <h4 class="title text-left">More Products From This Vendor</h4>
                        <a href="#" class="btn btn-dark btn-link btn-slide-right btn-icon-right">
                            More
                            Products<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                    <div class="swiper-container swiper-theme" data-swiper-options="{
                                    'spaceBetween': 20,
                                    'slidesPerView': 2,
                                    'breakpoints': {
                                        '576': {
                                            'slidesPerView': 3
                                        },
                                        '768': {
                                            'slidesPerView': 4
                                        },
                                        '992': {
                                            'slidesPerView': 3
                                        }
                                    }
                                }">
                        <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-2">
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/Frontend/assets/images/products/default/1-1.jpg" alt="Product"
                                             width="300" height="338" />
                                        <img src="~/Frontend/assets/images/products/default/1-2.jpg" alt="Product"
                                             width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>

                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        <a href="shop-banner-sidebar.html">Accessories</a>
                                    </div>
                                    <h4 class="product-name">
                                        <a href="product-default.html">Sticky Pencil</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">$20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/Frontend/assets/images/products/default/2.jpg" alt="Product"
                                             width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        <a href="shop-banner-sidebar.html">Electronics</a>
                                    </div>
                                    <h4 class="product-name">
                                        <a href="product-default.html">
                                            Mini
                                            Multi-Functional Cooker
                                        </a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 80%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(5 reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">
                                            <ins class="new-price">$480.00</ins><del class="old-price">$534.00</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/Frontend/assets/images/products/default/3.jpg" alt="Product"
                                             width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat"><a href="shop-banner-sidebar.html">Sports</a></div>
                                    <h4 class="product-name"><a href="product-default.html">Skate Pan</a></h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">
                                            <ins class="new-price">$278.00</ins><del class="old-price">$310.00</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/Frontend/assets/images/products/default/4-1.jpg" alt="Product"
                                             width="300" height="338" />
                                        <img src="~/Frontend/assets/images/products/default/4-2.jpg" alt="Product"
                                             width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        <a href="shop-banner-sidebar.html">Accessories</a>
                                    </div>
                                    <h4 class="product-name">
                                        <a href="product-default.html">Clip Attachment</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(5 reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">$40.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="related-product-section">
                    <div class="title-link-wrapper mb-4">
                        <h4 class="title">Related Products</h4>
                        <a href="#" class="btn btn-dark btn-link btn-slide-right btn-icon-right">
                            More
                            Products<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                    <div class="swiper-container swiper-theme" data-swiper-options="{
                                    'spaceBetween': 20,
                                    'slidesPerView': 2,
                                    'breakpoints': {
                                        '576': {
                                            'slidesPerView': 3
                                        },
                                        '768': {
                                            'slidesPerView': 4
                                        },
                                        '992': {
                                            'slidesPerView': 3
                                        }
                                    }
                                }">
                        <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-2">
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/Frontend/assets/images/products/default/5.jpg" alt="Product"
                                             width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Drone</a></h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">$632.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/Frontend/assets/images/products/default/6.jpg" alt="Product"
                                             width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name">
                                        <a href="product-default.html">Official Camera</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">
                                            <ins class="new-price">$263.00</ins><del class="old-price">$300.00</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/Frontend/assets/images/products/default/7-1.jpg" alt="Product"
                                             width="300" height="338" />
                                        <img src="~/Frontend/assets/images/products/default/7-2.jpg" alt="Product"
                                             width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name">
                                        <a href="product-default.html">Phone Charge Pad</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 80%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(8 reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">$23.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="~/Frontend/assets/images/products/default/8.jpg" alt="Product"
                                             width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name">
                                        <a href="product-default.html">
                                            Fashionalble
                                            Pencil
                                        </a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(9 reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">$50.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End of Main Content -->
            <aside class="sidebar product-sidebar sidebar-fixed right-sidebar sticky-sidebar-wrapper">
                <div class="sidebar-overlay"></div>
                <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
                <a href="#" class="sidebar-toggle d-flex d-lg-none"><i class="fas fa-chevron-left"></i></a>
                <div class="sidebar-content scrollable">
                    <div class="sticky-sidebar">
                        <div class="widget widget-icon-box mb-6">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="w-icon-truck"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">Free Shipping & Returns</h4>
                                    <p>For all orders over $99</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="w-icon-bag"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">Secure Payment</h4>
                                    <p>We ensure secure payment</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="w-icon-money"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">Money Back Guarantee</h4>
                                    <p>Any back within 30 days</p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Widget Icon Box -->

                        <div class="widget widget-banner mb-9">
                            <div class="banner banner-fixed br-sm">
                                <figure>
                                    <img src="~/Frontend/assets/images/shop/banner3.jpg" alt="Banner" width="266"
                                         height="220" style="background-color: #1D2D44;" />
                                </figure>
                                <div class="banner-content">
                                    <div class="banner-price-info font-weight-bolder text-white lh-1 ls-25">
                                        40<sup class="font-weight-bold">%</sup><sub class="font-weight-bold text-uppercase ls-25">Off</sub>
                                    </div>
                                    <h4 class="banner-subtitle text-white font-weight-bolder text-uppercase mb-0">
                                        Ultimate Sale
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- End of Widget Banner -->

                        <div class="widget widget-products">
                            <div class="title-link-wrapper mb-2">
                                <h4 class="title title-link font-weight-bold">More Products</h4>
                            </div>

                            <div class="swiper nav-top">
                                <div class="swiper-container swiper-theme nav-top" data-swiper-options="{
                                                'slidesPerView': 1,
                                                'spaceBetween': 20,
                                                'navigation': {
                                                    'prevEl': '.swiper-button-prev',
                                                    'nextEl': '.swiper-button-next'
                                                }
                                            }">
                                    <div class="swiper-wrapper">
                                        <div class="widget-col swiper-slide">
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="~/Frontend/assets/images/shop/13.jpg" alt="Product"
                                                             width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">Smart Watch</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">$80.00 - $90.00</div>
                                                </div>
                                            </div>
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="~/Frontend/assets/images/shop/14.jpg" alt="Product"
                                                             width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">Sky Medical Facility</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 80%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">$58.00</div>
                                                </div>
                                            </div>
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="~/Frontend/assets/images/shop/15.jpg" alt="Product"
                                                             width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">Black Stunt Motor</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 60%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">$374.00</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-col swiper-slide">
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="~/Frontend/assets/images/shop/16.jpg" alt="Product"
                                                             width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">Skate Pan</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">$278.00</div>
                                                </div>
                                            </div>
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="~/Frontend/assets/images/shop/17.jpg" alt="Product"
                                                             width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">Modern Cooker</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 80%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">$324.00</div>
                                                </div>
                                            </div>
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="~/Frontend/assets/images/shop/18.jpg" alt="Product"
                                                             width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">CT Machine</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">$236.00</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="swiper-button-next"></button>
                                    <button class="swiper-button-prev"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- End of Sidebar -->
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
        @if (TempData["Message"] != null)
        {
            <text>
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: '@TempData["Message"]',
                    });
            </text>
        }
        @if (TempData["Success"] != null)
        {
            <text>
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: '@TempData["Success"]',
                    });
            </text>
        }
        @if (TempData["Exist"] != null)
        {
            <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: '@TempData["Exist"]',
                    });
            </text>
        }
        @if (TempData["Error"] != null)
        {
            <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: '@TempData["Error"]',
                    });
            </text>
        }
        });
        function updateStars(rating) {
            var stars = document.querySelectorAll('.rating-stars a');
            stars.forEach(function (star, index) {
                if (index < rating) {
                    star.classList.add('active');
                } else {
                    star.classList.remove('active');
                }
            });
        }
        document.addEventListener('DOMContentLoaded', (event) => {
            const quantityInput = document.getElementById('quantity-input');
            const alertMessage = document.getElementById('alert-message');
            const plusButton = document.querySelector('.quantity-plus');
            const minusButton = document.querySelector('.quantity-minus');

            const updateQuantity = (value) => {
                if (value > 20) {
                    quantityInput.value = 20;
                    alertMessage.style.display = 'block';
                } else {
                    alertMessage.style.display = 'none';
                }
            }

            plusButton.addEventListener('click', () => {
                let currentValue = parseInt(quantityInput.value);
                if (currentValue < 20) {
                    quantityInput.value = currentValue + 1;
                }
                updateQuantity(quantityInput.value);
            });

            minusButton.addEventListener('click', () => {
                let currentValue = parseInt(quantityInput.value);
                if (currentValue > 1) {
                    quantityInput.value = currentValue - 1;
                }
                updateQuantity(quantityInput.value);
            });

            quantityInput.addEventListener('input', () => {
                updateQuantity(quantityInput.value);
            });
        });

    </script>
    
}
<!-- End of Page Content -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


