@model IEnumerable<PhinaMart.ViewModels.ProductVm>
@{
    ViewData["Title"] = "Product";
   
}

<!-- End of Breadcrumb -->
<h4> <b> @Model.Count() </b>product </h4>
<!-- Start of Page Content -->
<div class="product-wrapper row cols-lg-4 cols-md-3 cols-sm-2 cols-2">
    @foreach (var item in Model)
    {
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">
                        <img src="~/media/products/@item.Image" alt="@item.Name" width="300" height="338" />
                    </a>

                    <div class="product-action-horizontal">
                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-action="AddWishList" asp-controller="WishList" asp-route-id="@item.Id" method="post" style="display:inline;">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <button type="submit" style="font-size:21px;color:black;margin-top:0px;border:none;background-color:transparent" class="  w-icon-heart" title="Wishlist"></button>
                            </form>
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="btn-product-icon btn-wishlist w-icon-heart"
                               title="Wishlist" onclick="alert('You need to log in to add products to your wishlist.')"></a>
                        }
                        <form asp-action="CreateComp" asp-controller="Product" asp-route-id="@item.Id" method="post">
                            <button type="submit"
                                    style="font-size:21px;color:black;margin-top:0px;border:none;background-color:transparent"
                                    class="btn-icon-left w-icon-compare">
                                <span></span>
                            </button>
                        </form>
                       
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <div class="product-cat">
                        <a asp-action="Index" asp-controller="Product" asp-route-category="@item.Id">@item.NameCategory</a>
                    </div>
                    <h3 class="product-name">
                        <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.Name</a>
                    </h3>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: @item.AverageRating%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="product-default.html" class="rating-reviews">(@item.TotalRatings reviews)</a>
                    </div>
                    <div class="product-pa-wrapper">
                        <div class="product-price">
                            $@item.Price
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- End of Page Content -->
<!-- End of Page Content -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

